/* pc part=------------------------------------------------------------ */
.usernavbar {
  padding: 10px 5px;
  height: 50pv;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(17, 17, 17);
  justify-content: space-between;
  font-size: 1.2rem;
  .logo {
    font-size: 1.5rem;
    padding-left: 20px;
    cursor: pointer;
  }
  .burger {
    padding: 0 10px;
    cursor: pointer;
  }
  .burger,
  a {
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .user {
    cursor: pointer;
  }
}
.search-container {
  form {
    input {
      width: 400px;
      outline: none;
      padding: 5px;
      font-size: 1.1rem;
      border-radius: 7px;
      background-color: rgba(77, 77, 77, 0.248);
      color: white;
      border: 1ps solid gray;
      &:focus {
        outline: none;
      }
    }
  }
}
.special_menu {
  display: none;
  position: absolute;
  /* display: flex; */
  font-size: 1.1rem;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  width: max-content;
  padding: 20px 30px;
  border-radius: 6px;
  align-items: center;
  gap: 7px;
  span {
    a {
      color: black;
    }
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.burger-menu {
  position: absolute;
  right: 10px;
  top: 35px;
  display: none;
  /* display: flex; */
  font-size: 1.1rem;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  width: max-content;
  padding: 20px 30px;
  border-radius: 6px;
  align-items: center;
  gap: 7px;
  span {
    a {
      color: black;
    }
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.user-menu {
  z-index: 999;
  height: auto;
  width: 100%;
  position: absolute;
  display: none;
  /* display: flex; */
  .options {
    width: 100%;
    padding: 20px 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    align-items: center;
    gap: 7px;
    p {
      width: 100%;
      padding-left: 20px;
      margin-left: 20px;
    }
    form {
      input {
        cursor: pointer;
        color: black;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        font-family: "Times New Roman", Times, serif;
      }
    }
    span {
      font-size: 1.2rem;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: center;
      a {
        color: black;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@keyframes menuSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.special_menu.show {
  display: flex;
  animation: menuSlideDown 0.4s ease forwards;
}
.user-menu.show {
  display: flex;
  animation: menuSlideDown 0.4s ease forwards;
}
.burger-menu.show {
  display: flex;
  animation: menuSlideDown 0.4s ease forwards;
}
.special_menu.hide {
  animation: menuSlideUp 0.4s ease forwards;
}
.user-menu.hide {
  animation: menuSlideUp 0.4s ease forwards;
}
.burger-menu.hide {
  animation: menuSlideUp 0.4s ease forwards;
}

.user-resp-navbar-bottom {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: rgb(20, 20, 20);
  z-index: 1;
  border-bottom: 1px solid gray;
  .options {
    display: flex;
    padding: 10px 4px;
    justify-content: space-evenly;
    align-items: center;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 4px;
      i {
        font-size: 1.5rem;
        display: none;
      }
      span {
        font-size: 1.2rem;
      }
    }
  }
}
/* content section */
.content {
  width: 100%;
  height: auto;
}
.global-audio-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
audio#global-audio {
  outline: none;
  height: 40px;
  padding-bottom: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: #09002fca;
  border-radius: 10px;
  color: white;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider {
  filter: invert(100%);
}
audio::-webkit-media-controls-current-time-display,
::-webkit-media-controls-time-remaining-display,
::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  color: #fff;
}
audio::-webkit-media-controls-mute-button {
  background-color: #ffffff43;
  border-radius: 50%;
}
#global-audio {
  display: none;
}
/* media querries---------------------------------- */
@media screen and (max-width: 678px) {
  .global-audio-container {
    position: fixed;
    bottom: 60px;
    width: 100%;
    z-index: 9999;
  }
  .usernavbar {
    .search-container {
      display: none;
    }
  }
  .user-resp-navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: rgb(20, 20, 20);
    z-index: 9999;
    .options {
      display: flex;
      padding: 10px 4px;
      justify-content: space-evenly;
      a {
        display: flex;
        flex-direction: column;
        gap: 4px;
        i {
          display: flex;
          font-size: 1.3rem;
        }
        span {
          font-size: 0.7rem;
        }
      }
    }
  }
}
